body,
html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #f4eee7;
}

* {
  margin: 0;
}
/* body {
background-color: #D5C5B3;
} */
/*--------------------------------------------------------------
global
--------------------------------------------------------------*/

input,
textarea,
select,
a,
button {
  outline: none;
}

input,
textarea,
select,
a,
button:focus,
span {
  outline: none;
}

input,
textarea,
select,
a,
button:active {
  outline: none;
}

.page-padding,
.content-area {
  padding-top: 140px;
}

.page-padding {
  padding-left: 80px;
  padding-right: 80px;
}

@font-face {
  font-family: "Jost-Regular";
  src: url("./Jost-Regular.woff2") format("woff2"),
    url("./Jost-Regular.woff") format("woff");
}

@font-face {
  font-family: "Jost-Light";
  src: url("./Jost-Light.woff2") format("woff2"),
    url("./Jost-Light.woff") format("woff");
}

@font-face {
  font-family: "Jost-Medium";
  src: url("./Jost-Medium.woff2") format("woff2"),
    url("./Jost-Medium.woff") format("woff");
}

@font-face {
  font-family: "Sitka";
  src: url("./Sitka.woff2") format("woff2"), url("./Sitka.woff") format("woff");
}

/*.wp-bootstrap-blocks-row {
  margin-top: 10px;
  margin-bottom: 50px;
}*/
/*--------------------------------------------------------------
navigation
--------------------------------------------------------------*/

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 40px;
  z-index: 110;
  padding-top: 0;
  background-color: #f4eee7;
  padding-bottom: 0;
  padding-right: 80px;
  padding-left: 15px;
}
.navbar-brand {
  padding-top: 10px;
  padding-bottom: 0;
  margin-right: 15px;
}
.navbar > .navbar-brand > img {
  width: 50px;
  height: auto;
}

.menu-btn {
  position: fixed;
  margin: 25px 15px;
  right: 0;
  top: 0;
  z-index: 100;
}

.menu.active {
  transform: translateX(0);
}

.navbar-collapse {
  border-bottom: #000 2px solid;
  margin-bottom: auto;
}

.devide_menu {
  position: fixed;
  top: auto;
  left: auto;
  width: 100%;
  min-height: 40px;
  z-index: 99;
}

.menu_sticker {
  position: absolute;
  left: 0;
  top: -150%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.animated-icon1 {
  width: 35px;
  height: 40px;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #000000;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 11px;
}

.animated-icon1 span:nth-child(3) {
  top: 22px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  right: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background-color: #000000;
}

.animated-icon1.open span:nth-child(2) {
  right: 0;
  opacity: 0;
  right: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  right: 0;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #ffffff;
  /*background: #D5C5B3;*/
}

.category-nav {
  position: fixed;
  top: 90px;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

li.menu-item > a {
  text-align: center;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #000;
}

li.menu-item {
  margin: 35px 0 15px 0;
  text-align: center;
  padding: 0 20px;
}

.menu_wraper {
  height: 100%;
  display: flex;
  width: 100%;
  padding: 0;
}

#menu-menu-1 {
  width: 100%;
}

.navbar .cart-contents .count {
  height: 1rem;
  width: 1rem;
  font-size: 0.7rem;
  line-height: 0.9rem;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
/*--------------------------------------------------------------
home
--------------------------------------------------------------*/

.wp-block-image > img {
  width: 100%;
  height: auto;
}

h2.home_header {
  font-family: mencken-std-head, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.2rem;
  line-height: 3.1rem;
}

.space_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p.sutro {
  font-size: 0.95rem;
  font-family: calluna, serif;
  font-weight: 300;
  font-style: normal;
  font-weight: 300;
}

p.sutro > a {
  font-size: 0.95rem;
  font-family: calluna, serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  text-decoration: underline;
}
.link_wrapper.end {
  margin: 15px 0 15px auto;
}

.link_wrapper {
  display: flex;
  margin: 15px 0;
  padding: 0 35px;
  width: fit-content;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

a .link_wrapper > p {
  margin-bottom: 0;
  line-height: 0.8rem;
  padding-bottom: 5px;
  color: #000;
}
.link_wrapper > p {
  margin-bottom: 0;
  line-height: 0.8rem;
  padding-bottom: 5px;
  color: #000;
}

a .link_wrapper > p:hover,
a .link_wrapper:hover,
a:hover {
  color: #000;
  text-decoration: none;
}

.link_wrapper.al_right {
  margin-left: auto;
}

.link_wrapper > img {
  height: 10px;
  width: auto;
  padding-left: 30px;
}
/*--------------------------------------------------------------
projects
--------------------------------------------------------------*/

h1.project_header {
  font-family: mencken-std-head, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.2rem;
  border-bottom: 2px solid #000000;
  margin-bottom: 0;
  color: #000000;
  padding-bottom: 50px;
}

a p.project_header,
a p.project_year {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 0;
}

a p.project_year {
  text-align: right;
}

a p.project_header:hover,
a p.project_year:hover {
  color: #000000;
  text-decoration: underline;
}

.events_link {
  font-family: calluna, serif;
  font-size: 1.1rem;
  margin: 20px 0 0 0;
  padding-bottom: 20px;
}

.shop_link > a {
  font-family: acumin-pro, sans-serif;
  font-size: 1rem;
  padding-bottom: 20px;
  color: rgb(129, 129, 129);
  text-decoration: underline;
}

.ptitle_wraper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
  border-bottom: 2px solid #000000;
  padding-bottom: 20px;
}

.shop-container {
  margin-top: 180px;
}

p.sitka {
  font-family: calluna, serif;
  font-size: 1rem;
}

p.shop_link {
  margin: 20px 0 0 0;
}

#st_about0-toggle-show35,
#st_about0-toggle-show36,
#st_about0-toggle-hide35,
#st_about0-toggle-hide36 {
  font-family: calluna, serif;
  font-size: 1rem;
  color: #000;
  text-decoration: underline;
}

.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects_link {
  text-decoration: none;
}
.projects_link:hover {
  text-decoration: none;
}
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term .count {
  display: none;
}
.select__dropdown.accordion-collapse
  > ul
  > li.woocommerce-widget-layered-nav-list__item--chosen.chosen
  a::after {
  content: "+";
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 10px;
  transform: rotate(45deg);
  display: inline-block;
}
.select__dropdown.accordion-collapse
  > ul
  > li.woocommerce-widget-layered-nav-list__item--chosen.chosen
  a {
  color: #000 !important;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}
/*--------------------------------------------------------------
about
--------------------------------------------------------------*/

h1.about_header {
  font-family: mencken-std-head, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.2rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.about_paragraf {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000000;
  text-transform: uppercase;
  padding: 40px 0;
}

.sign {
  padding: 40px 0;
  text-align: center;
}

.sign > img {
  width: 60%;
  height: auto;
}

.sign > figcaption {
  text-align: right;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000000;
  margin-right: 20px;
}
/*--------------------------------------------------------------
gallery
--------------------------------------------------------------*/

.slick-track {
  display: flex !important;
  max-height: 60vh;
}

.slick-track .slick-slide {
  height: auto !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-track .slick-slide > div {
  height: 100%;
}

.slick-track .slick-slide img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}
/* .slick-arrow {
            position: absolute;
            bottom: 0;
            border: none;
            font-family: 'Jost-Medium', serif;
            font-size: 1.1rem;
            background: none;
        }
        
        .slick-prev.slick-arrow {
            left: 0;
        }
        
        .slick-next.slick-arrow {
            right: 0;
        } */

.slick-slider .slick-arrow.slick-next {
  /* left: 100%; */
  right: 30px;
  background: url(../img/arrow-right.png) 0 0 / 100% no-repeat;
}

.slick-slider .slick-arrow.slick-prev {
  /* right: 100%; */
  left: 30px;
  background: url(../img/arrow-left.png) 0 0 / 100% no-repeat;
}

.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: none;
  cursor: pointer;
}
.project_popup {
  /* display: none; */
  height: 0px;
  overflow-y: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  /* height: 90vh; */
  transform: translate(-50%, -50%);
  z-index: 120;
  background-color: #fff;
}
.project_popup.show_me {
  height: 100vh;
  overflow: inherit;
  padding: 50px 0;
  background-color: rgb(244, 238, 231, 0.85);
}
.close_icon_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  position: absolute;
  width: 100vw;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #f4eee7;
  border-bottom: 2px solid #000000;
}
.close_icon {
  width: 25px;
  height: 25px;
  background-image: url(../img/cross-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  z-index: 125;
  border-radius: 50%;
  border: 1px solid #000000;
}
.close_icon_wrapper h4 {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #000;
  padding-left: 70px;
  margin-bottom: 0;
}
/*--------------info--------------*/

.info_paragraf {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000000;
  text-transform: uppercase;
}

.info_paragraf > a {
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000000;
  text-transform: uppercase;
  text-decoration: underline;
}
.info-content p,
.info-content p a,
.info-content ol li,
.info-content ol li a {
  font-family: calluna, serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000000;
}
.info-content p a,
.info-content ol li a {
  text-decoration: underline;
}
.info-content h3 {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000000;
  text-transform: uppercase;
}
.info-content .wp-block-separator.is-style-wide {
  margin-top: 0.1rem;
  border-bottom: 2px solid #000;
  border-top: none;
  border-right: none;
  border-left: none;
}
/*--------------------------------------------------------------
shop
--------------------------------------------------------------*/
.woocommerce-pagination .page-numbers li a {
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}
.woocommerce ul.products li.product {
  margin: 0;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem !important;
  background: transparent;
  text-decoration: underline;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
  border: none;
}
a.button.product_type_variable.add_to_cart_button {
  display: none;
}

.shop_title_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 2px solid #000;
}

.shop_title_wrapper > p {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

li.product .inner_products_wrapper {
  background-color: #eae1d4;
  cursor: pointer;
}
li.product {
  padding: 10px !important;
}

li.product a img {
  padding: 10px;
}
.row.products {
  margin: 0 -10px !important;
}

li.product a h2.woocommerce-loop-product__title,
li.product a span.price {
  padding: 0 10px 10px 10px !important;
  font-family: acumin-pro, sans-serif;
  font-size: 1rem !important;
  color: #000 !important;
  text-transform: uppercase;
}
.attr_form_label {
  display: none;
}
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents
  > thead
  > tr
  > .product-name,
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents
  > thead
  > tr
  > .product-price,
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents
  > thead
  > tr
  > .product-quantity,
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents
  > thead
  > tr
  > .product-subtotal {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.woocommerce-cart-form__cart-item.cart_item > .product-name > a,
td.product-price > .woocommerce-Price-amount.amount > bdi,
td.product-subtotal > .woocommerce-Price-amount.amount > bdi {
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal;
}

.quantity > input.input-text.qty.text {
  border: none !important;
  background: transparent;
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
  border: none;
}

tr.woocommerce-cart-form__cart-item.cart_item > .product-remove,
tr.woocommerce-cart-form__cart-item.cart_item > .product-thumbnail {
  border-top: none;
}

tr.woocommerce-cart-form__cart-item.cart_item > .product-name,
tr.woocommerce-cart-form__cart-item.cart_item > .product-price,
tr.woocommerce-cart-form__cart-item.cart_item > .product-quantity,
tr.woocommerce-cart-form__cart-item.cart_item > .product-subtotal {
  border-top: 2px solid #000;
}

.product-name {
  border-bottom: none;
}

.woocommerce table.shop_table td {
  border-top: none;
}

.woocommerce a.remove {
  color: #000 !important;
}

.woocommerce a.remove:hover {
  color: #000 !important;
  background: transparent !important;
}

.woocommerce-cart table.cart img {
  width: 150px;
  height: auto;
}

.cart-collaterals > .cart_totals > h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  padding-bottom: 9px;
}

table.shop_table.shop_table_responsive {
  border: none;
}

tr.cart-subtotal > th,
tr.order-total > th,
td > .woocommerce-Price-amount.amount > bdi,
td > strong > .woocommerce-Price-amount.amount > bdi,
tr.cart-subtotal > td,
tr.cart-subtotal > td::before {
  padding-left: 0 !important;
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
}

.wc-proceed-to-checkout > .checkout-button.button.alt.wc-forward {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: #000;
  background: transparent;
  border-radius: 0;
  border: 2px solid #000;
  width: fit-content;
  margin-left: auto;
}

.widget.woocommerce.widget_layered_nav.woocommerce-widget-layered-nav > h2 {
  display: none;
}

.widget.woocommerce.widget_layered_nav.woocommerce-widget-layered-nav {
  list-style-type: none;
  margin-bottom: 10px;
}

.select2-container--default .select2-selection--single {
  background: transparent !important;
  border-radius: 0 !important;
  border: none !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #000 !important;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.select2.select2-container.select2-container--default {
  width: fit-content !important;
}

.woocommerce-widget-layered-nav-dropdown:focus,
.woocommerce-widget-layered-nav-dropdown::after {
  outline: none;
}

span.select2-results {
  background-color: #f4eee7;
}

b.presentation {
  color: #000 !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #000 transparent transparent transparent !important;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: #f4eee7 !important;
  color: #000 !important;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: underline;
  border: none !important;
}

.select2-dropdown {
  border: none !important;
}

.product_meta {
  display: none;
}

.single_product_row
  > .woocommerce-product-gallery.woocommerce-product-gallery--with-images
  > .woocommerce-product-gallery__wrapper
  > .woocommerce-product-gallery__image {
  display: flex;
  justify-content: flex-end;
}

.summary.entry-summary > .product_title.entry-title {
  color: #000 !important;
  font-family: mencken-std-head, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  /*margin-bottom: 30px;*/
}

.single-summary > .price {
  display: none;
}

.woocommerce-product-details__short-description > p {
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.woocommerce button.button.alt {
  background-color: #f4eee7 !important;
  border-radius: 0 !important;
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #000;
  padding: 5px 15px;
  line-height: 1.6rem;
  margin-top: 0 !important;
  margin-left: 20px;
}
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
  display: flex;
}
.woocommerce button.button.alt:hover {
  color: #000;
}

.select__dropdown.accordion-collapse
  > ul
  > li.woocommerce-widget-layered-nav-list__item--chosen.chosen
  a,
.select__dropdown.accordion-collapse
  > ul
  > li.woocommerce-widget-layered-nav-list__item--chosen.chosen
  span {
  color: red;
}

.woocommerce-widget-layered-select > h2 {
  display: none;
}

.woocommerce-widget-layered-select {
  list-style-type: none;
}
.woocommerce.widget_layered_select .accordion-button {
  background-color: #f4eee7;
  border: none;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}

.woocommerce.widget_layered_select .select_button_wrapper > * {
  display: inline-block;
}

.woocommerce.widget_layered_select .select_button_wrapper > *.not_present {
  display: none;
}

.select__dropdown.accordion-collapse > ul,
.select__dropdown.accordion-collapse > ul > li,
.select__dropdown.accordion-collapse > ul > li > a {
  list-style-type: none;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  color: #000;
}

ul.select__items {
  padding-left: 6px;
}

.woocommerce-billing-fields__field-wrapper > .form-row {
  display: flex;
  flex-direction: column;
}

.woocommerce-billing-fields__field-wrapper > .form-row > label,
.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
}

.woocommerce form .form-row .required {
  color: #000 !important;
}

.woocommerce-input-wrapper,
.select2-results__options > li {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  border: 2px solid #000;
}

.select2-dropdown.select2-dropdown--below {
  border: 2px solid #000 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-search--dropdown {
  background-color: #f4eee7;
}

.woocommerce form .form-row .select2-container {
  width: 100% !important;
}

.woocommerce form .form-row input.input-text {
  background-color: #f4eee7;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;
  line-height: 2.2rem;
}

.woocommerce-billing-fields > h3,
h3#order_review_heading {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.woocommerce table.shop_table {
  border: none;
}

.woocommerce-checkout #payment {
  background: #f4eee7;
}

.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
  background: #f4eee7;
}

.woocommerce-checkout #payment ul.payment_methods li,
.woocommerce-privacy-policy-text > p {
  padding: 0;
  border-top: none !important;
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
  line-height: 1.4rem;
}

.woocommerce-privacy-policy-text > p > a {
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
  line-height: 1.4rem;
  text-decoration: underline;
}

.wc_payment_methods.payment_methods.methods {
  border-bottom: none !important;
}

.woocommerce-info::before {
  display: none !important;
}

.woocommerce table.shop_table th.product-total {
  display: none;
}

.woocommerce table.shop_table td.product-name {
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
  line-height: 1.4rem;
}

.woocommerce
  .shop_table.woocommerce-checkout-review-order-table
  .cart-subtotal {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

.woocommerce
  .shop_table.woocommerce-checkout-review-order-table
  .cart-subtotal
  > th,
.woocommerce
  .shop_table.woocommerce-checkout-review-order-table
  .order-total
  > th {
  padding-left: 12px !important;
}

table.shop_table.woocommerce-checkout-review-order-table {
  border-collapse: collapse;
}

.shop_table.woocommerce-checkout-review-order-table .cart_item {
  border-top: 2px solid #000;
  padding: 5px 15px;
  line-height: 1.6rem;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

#customer_login .u-column1 > h2,
#customer_login .u-column2 > h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-left: 20px;
}

.woocommerce .woocommerce-form.woocommerce-form-login.login,
.woocommerce .woocommerce-form.woocommerce-form-register.register {
  border: none;
}

.woocommerce-form.woocommerce-form-login.login p.woocommerce-form-row {
  display: flex;
  flex-direction: column;
}

.woocommerce-form.woocommerce-form-login p.woocommerce-form-row > label,
.woocommerce-form.woocommerce-form-register p.woocommerce-form-row > label,
.woocommerce-form.woocommerce-form-register p {
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
}

.woocommerce button.woocommerce-form-register__submit,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
  background-color: #f4eee7;
  border: 2px solid #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #000;
  border-radius: 0;
  padding: 16px;
  width: fit-content;
}

.woocommerce form .form-row {
  display: flex;
  flex-direction: column;
}

.woocommerce button.woocommerce-form-register__submit:hover,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover {
  background-color: #f4eee7;
  border: 2px solid #000;
  color: #000;
}

.woocommerce
  .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
}

.woocommerce .woocommerce-LostPassword.lost_password > a {
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
  text-decoration: underline;
}

.woocommerce .woocommerce-LostPassword.lost_password {
  margin-top: 20px;
}

.empty-message-wraper {
  min-height: 80vh;
}
.woocommerce-info {
  border-top: 0;
  background-color: #f4eee7;
  font-family: calluna, serif;
  font-weight: 300;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  padding: 1em 2em;
}
.empty-message-wraper .return-to-shop {
  text-align: center;
}
.woocommerce .return-to-shop a.button {
  background: transparent;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
  border: 2px solid #000;
  text-transform: uppercase;
  border-radius: 0;
  padding: 5px 15px;
  line-height: 1.6rem;
}
.variations_form.cart {
  /* margin-top: 35px;*/
}
.variations_form.cart .variations .label label {
  text-transform: uppercase;
}
.single_variation_wrap .woocommerce-variation.single_variation {
  margin: 20px 0;
}

.attr_form_label {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
  text-transform: uppercase;
  z-index: 10000;
}
.woocommerce-shipping-totals.shipping th,
.woocommerce-shipping-totals.shipping td,
.woocommerce-shipping-totals.shipping td::before,
.woocommerce-page table.shop_table_responsive td,
.woocommerce-page table.shop_table_responsive td::before {
  padding-left: 0 !important;
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
}
.woocommerce-shipping-methods,
p.woocommerce-shipping-destination,
a.shipping-calculator-button {
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
}
/*--------------------------------------------------------------
account
--------------------------------------------------------------*/
.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-content {
  width: 100%;
}
.min-height {
  min-height: 90vh;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  padding: 0;
}
.woocommerce-error {
  border-top-color: transparent;
  background-color: #f4eee7;
  padding: 1em 2em 1em 2em;
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}
.woocommerce-error strong {
  font-weight: 500;
  text-decoration: underline;
}
.woocommerce-error::before {
  left: 0;
  color: #000;
}
.woocommerce-MyAccount-navigation-link a {
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.woocommerce-MyAccount-navigation-link {
  margin-bottom: 10px;
  padding: 0 6px;
}
.woocommerce-form-row label,
.woocommerce-form-row em {
  font-family: calluna, serif !important;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
}
.woocommerce-Input,
.woocommerce-MyAccount-content {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}
.woocommerce-MyAccount-content strong {
  font-weight: 500;
  text-decoration: underline;
}
.woocommerce-MyAccount-content a {
  color: #000000;
  text-decoration: underline;
}
.woocommerce-EditAccountForm fieldset {
  margin-top: 60px;
}
.woocommerce-EditAccountForm legend {
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.woocommerce button.button {
  background-color: #f4eee7 !important;
  border-radius: 0 !important;
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #000;
  padding: 5px 15px;
  line-height: 1.6rem;
  margin-top: 50px !important;
}

.woocommerce button.button:hover {
  color: #000;
}
.woocommerce-MyAccount-content .woocommerce-message,
.woocommerce-MyAccount-content .woocommerce-Message,
.pm_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.woocommerce-MyAccount-content .woocommerce-message .woocommerce-Button.button,
.woocommerce-MyAccount-content .woocommerce-Message .woocommerce-Button.button,
.pm_wrapper a.button {
  background-color: #f4eee7 !important;
  border-radius: 0 !important;
  color: #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #000;
  padding: 5px 15px;
  line-height: 1.6rem;
  margin-top: 50px !important;
  width: fit-content;
}
.pm_wrapper a.button:hover {
  color: #000000;
}
.pm_wrapper .woocommerce-Message.woocommerce-Message--info.woocommerce-info {
  margin-bottom: 0;
}
.woocommerce-Address .woocommerce-Address-title.title h3,
.woocommerce-MyAccount-content form h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.woocommerce-MyAccount-content .woocommerce-Address {
  margin-top: 50px;
}
.woocommerce-MyAccount-content .woocommerce-address-fields label {
  padding: 0;
  font-family: calluna, serif;
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: normal !important;
  line-height: 1.4rem;
}
/*--------------------------------------------------------------
product
--------------------------------------------------------------*/
.variations .value #size,
.variations .value #print-with-complete-finish,
.variations .value .reset_variations {
  display: none;
}
td.value {
  font-size: 0.95rem;
  font-family: calluna, serif;
  font-style: normal;
  font-weight: 300;
}
td.value .attrib_selection {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
  cursor: pointer;
  text-transform: none;
  padding: 2px 10px;
  border: 1px solid #000000;
  border-radius: 20px;
  width: fit-content;
}
.complete_finish {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
  margin-bottom: 15px;
  text-decoration: underline;
}
td.value.partout {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
}

.woocommerce-Price-amount.amount,
.stock.in-stock {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
}
.variations .value.with_finish .attrib_selection {
  display: inline-block;
  margin: 0 20px 0 0;
  cursor: pointer;
  padding: 2px 10px;
  border: 1px solid #000000;
  border-radius: 20px;
}
.variations .value .attrib_selection.selected {
  color: #ffffff;
  background-color: #000000;
}
.variations .label label {
  margin: 0;
}
.with_finish label {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
}

table.variations {
  border-collapse: separate !important;
  border-spacing: 0 1rem;
}

.woocommerce-variation-add-to-cart
  .quantity
  input[type="number"]::-webkit-inner-spin-button,
.woocommerce-variation-add-to-cart
  .quantity
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.woocommerce-variation-add-to-cart .quantity input[type="number"] {
  -moz-appearance: textfield;
}
.woocommerce-variation-add-to-cart .add_quantity_wrapper {
  display: flex;
}
.add_quantity_wrapper .var_quantity-arrow-minus,
.add_quantity_wrapper .var_quantity-arrow-plus {
  cursor: pointer;
  font-size: 0.9rem;
  line-height: 0.3rem;
  padding: 10px 7px;
  width: 30px;
  box-sizing: border-box;
  border-radius: 0px;
  outline: none;
  background: transparent;
  border: 2px solid #000000;
}
.woocommerce .single_add_to_cart_button.button {
  margin-top: 20px !important;
}
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus {
  background: transparent;
}
.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image {
  margin-left: 1px;
}
.partout .attrib_selection {
  text-transform: uppercase;
}

.flex-control-nav.flex-control-thumbs li {
  display: block;
  list-style-type: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.flex-control-nav.flex-control-thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}

.woocommerce-product-gallery .flex-viewport {
  margin-bottom: 1.618em;
}
.woocommerce-notices-wrapper .woocommerce-message {
  display: none !important;
}
/*--------cart-------*/

.shop_table .actions {
  display: none !important;
}

/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/

h2.footer-column-header {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #000;
  text-transform: uppercase;
}

.footer-wrap > .row > div > p {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #707070;
}

.footer_wrapper {
  border: 2px solid black;
  padding: 20px 10px;
  margin-top: 30px;
}

#menu-footer-menu-support > li.menu-item,
#menu-footer-menu-social > li.menu-item {
  text-align: left;
  padding-left: 0;
  margin: 0;
}

#menu-footer-menu-support > li.menu-item > a,
#menu-footer-menu-social > li.menu-item > a {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: #707070;
}

.support_social_wrapper {
  display: flex;
  margin-left: auto;
  width: fit-content;
}

.nav_menu_support,
.nav_menu_social {
  margin: 0 10px;
}

p.current_year {
  margin-top: 10px;
}
.social-icons {
  font-size: 1.1rem;
  justify-content: flex-end;
  display: flex;
}

.social-icons a {
  color: #707070;
  padding-right: 5px;
}
.social-icons > i {
  color: #707070;
  padding-right: 5px;
}
/*--------------------------------------------------------------
search
--------------------------------------------------------------*/

.search_result_list {
  list-style: none;
}

.search_result_list li {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.search_result_list li a {
  padding: 0 40px;
}

.search_container {
  min-height: 80vh;
}

.search_link {
  /* padding: 20px; */
  background-color: #eae1d4;
  cursor: pointer;
}
.search_link a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.search_link a p {
  padding: 0 10px 10px 10px;
}
.search_link a img {
  margin: 0 0 1rem;
  padding: 10px;
  width: 100%;
  height: auto;
}
.search_link a:hover {
  text-decoration: none;
}
.search_image {
  /* overflow: hidden;
  height: 100%;
  max-height: 60vh; */
}

.searchform div {
  display: flex;
  justify-content: center;
}

.searchform input[type="text"] {
  flex: 1 40vw;
  margin: 0 20px 0 0;
  background-color: #f4eee7;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #000;
  font-family: calluna, serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #000000;
}
#searchsubmit {
  background-color: #f4eee7;
  border: 2px solid #000;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #000000;
}
.search_title_wrapper {
  margin-top: 80px;
}
.search_title_wrapper div {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000;
}
.find_image {
  width: 100%;
  height: auto;
}

.search_result_list img {
  max-height: 10vh;
}
.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td,
#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
  background: transparent !important;
}
.woocommerce-shipping-totals.shipping td,
.order-total td {
  border: none !important;
}
.value.with_finish > label {
  display: none;
}
.wc_payment_methods.payment_methods.methods {
  display: flex;
  justify-content: space-between;
}
#payment_method_paypal,
#payment_method_stripe,
#payment_method_stripe_ideal {
  opacity: 0;
  margin: 0 !important;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.wc_payment_method.payment_method_paypal {
  background-image: url(../img/cc-paypal-brands.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.wc_payment_method.payment_method_stripe{
  background-image: url(../img/credit-card-solid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.wc_payment_method.payment_method_stripe_ideal{
  background-image: url(../img/ideal-brands.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.payment_box.payment_method_stripe{
  position: absolute !important;
  left: 0;
}
.about_paypal,
.payment_method_paypal img,
.payment_method_stripe img,
.payment_method_stripe_ideal img,
.wc_payment_method.payment_method_paypal label,
.wc_payment_method.payment_method_stripe label,
.wc_payment_method.payment_method_stripe_ideal label {
  display: none;
}
.shop_table.woocommerce-checkout-review-order-table th.product-name{
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 9px 12px 9px 0;
}
.shop_table.woocommerce-checkout-review-order-table .product-name{
  padding: 9px 12px 9px 0;
}
.shop_table.woocommerce-checkout-review-order-table tr.cart-subtotal th{
  padding: 9px 12px 9px 0;
}
/*--------------------------------------------------------------
responsive
--------------------------------------------------------------*/
@media only screen and (min-width: 577px) {
  .display-small-screen {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .content_row {
    position: relative;
  }
  .attr_col {
    position: absolute;
    margin-top: 30px;
    z-index: 6;
    background-color: #f4eee7;
  }
  .attr_col.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  .attr_form_button {
    position: absolute;
    left: 10px;
    top: -10px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10000;
  }
  .attr_col.hide + .attr_form_button {
    background-image: url(../img/angle-down-solid.svg);
  }
  .attr_form_label {
    display: block;
    position: absolute;
    top: -5px;
    left: 40px;
    height: 30px;
  }

  /* .change_filter .attr_wraper {
    height: inherit;

    
  }
  .change_filter .attr_form_label  {
    display: none;
  } */
  .attr_col + .attr_form_button {
    background-image: url(../img/angle-up-solid.svg);
  }
  .product_wrapper {
    margin-top: 30px;
  }
  li.product a img {
    padding: 25px 25px 15px 25px;
  }
  li.product a h2.woocommerce-loop-product__title,
  li.product a span.price {
    padding: 0 25px 25px 25px !important;
  }
  .woocommerce table.shop_table td.product-name,
  tr.woocommerce-cart-form__cart-item.cart_item > .product-price,
  tr.woocommerce-cart-form__cart-item.cart_item > .product-quantity,
  tr.woocommerce-cart-form__cart-item.cart_item > .product-subtotal {
    padding-left: 0;
  }
  .woocommerce table.shop_table td.product-name::before,
  tr.woocommerce-cart-form__cart-item.cart_item > .product-price::before,
  tr.woocommerce-cart-form__cart-item.cart_item > .product-quantity::before,
  tr.woocommerce-cart-form__cart-item.cart_item > .product-subtotal::before {
    font-family: acumin-pro, sans-serif;
    font-weight: 500 !important;
    font-size: 0.9rem !important;
    text-transform: uppercase;
  }
  .woocommerce #content table.cart .product-thumbnail,
  .woocommerce table.cart .product-thumbnail,
  .woocommerce-page #content table.cart .product-thumbnail,
  .woocommerce-page table.cart .product-thumbnail {
    display: block;
  }
  .woocommerce-page table.cart .product-thumbnail {
    display: flex;
    justify-content: center;
  }
  .woocommerce-page table.cart .product-thumbnail::before {
    display: none;
  }
  .woocommerce-cart table.cart img {
    margin-bottom: 50px;
  }
  .wc-proceed-to-checkout > .checkout-button.button.alt.wc-forward {
    margin-right: auto;
  }
  .single_product_row
    > .woocommerce-product-gallery.woocommerce-product-gallery--with-images
    > .woocommerce-product-gallery__wrapper
    > .woocommerce-product-gallery__image {
    justify-content: center;
  }
  .woocommerce-product-gallery__image img {
    margin-bottom: 50px;
  }
  .search_link a img {
    padding: 25px 25px 15px 25px;
  }
  .search_link a p {
    padding: 0 25px 15px 25px;
  }
}

/*xs*/

@media only screen and (max-width: 576px) {
  h1.about_header {
    font-family: mencken-std-head, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.2rem;
    color: #000000;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .page-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  .searchform input[type="text"] {
    width: inherit;
  }
  h1.project_header {
    font-size: 3rem;
  }
  .display-big-screen {
    display: none;
  }
  .support_social_wrapper {
    margin: 0;
  }
  .nav_menu_support {
    margin: 0;
  }
  /* li.widget.woocommerce.widget_layered_select.woocommerce-widget-layered-select{
    display: inline-block;
  }
  .select__dropdown.accordion-collapse.collapse.show{
    position: absolute;
    z-index: 100;
  }
  .select__dropdown.accordion-collapse.collapse.show ul.select__items{
    background-color: white;
    padding: 10px;
    min-width: 110px;
  } */
  .big_screen_space {
    display: none;
  }
  .link_wrapper {
    margin: 15px 0 15px auto;
  }

  .navbar.navbar-expand-md {
    border-bottom: 2px solid #000000;
  }
  .navbar-collapse {
    border-bottom: none;
  }
  nav.navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-brand {
    padding-bottom: 15px;
  }
  .nav_menu_social {
    display: none;
  }
}
/*sm*/

@media screen and (min-width: 576px) and (max-width: 768px) {
  /* li.widget.woocommerce.widget_layered_select.woocommerce-widget-layered-select{
    display: inline-block;
  }
  .select__dropdown.accordion-collapse.collapse.show{
    position: absolute;
    z-index: 100;
  }
  .select__dropdown.accordion-collapse.collapse.show ul.select__items{
    background-color: white;
    padding: 10px;
    min-width: 110px;
  } */
  .big_screen_space {
    display: none;
  }
  .link_wrapper {
    margin: 15px 0 15px auto;
  }

  .navbar.navbar-expand-md {
    border-bottom: 2px solid #000000;
  }
  .navbar-collapse {
    border-bottom: none;
  }
  nav.navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-brand {
    padding-bottom: 15px;
  }
  .nav_menu_social {
    display: none;
  }
}
/*md*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  .link_wrapper {
    padding: 0 22px;
  }
  .small_screen_space {
    display: none;
  }
}
/*lg*/

@media screen and (min-width: 992px) {
  .small_screen_space {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  /*font-size: calc(15px + (24 - 5) * ((100vw - 300px) / (1600 - 300)));*/
  .small_screen_space {
    display: none;
  }
}
